<footer class="navbar-fixed-bottom">
<div>&copy 2015 Ritter Insurance Marketing</div>
<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
<script type="text/javascript" src="/js/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
$(function() {
    $('#datetimepicker').datetimepicker({
        autoclose: true
    });
});
</script>
</footer>


