@mixin embed-font($font-name, $font-filepath-and-name){
  @font-face {
    font-family: $font-name;
    src: url(asset_path($font-filepath-and-name+".eot")); /* IE9 Compat Modes */
    src: url(asset_path($font-filepath-and-name+".eot?#iefix")) format('embedded-opentype'), /* IE6-IE8 */
         url(asset_path($font-filepath-and-name+".woff")) format('woff'), /* Modern Browsers */
         url(asset_path($font-filepath-and-name+".ttf"))  format('truetype'), /* Safari, Android, iOS */
         url(asset_path($font-filepath-and-name+".svg#svgFontName")) format('svg'); /* Legacy iOS */
    }
} 

.logo {
    width:100%;
    height:125px;
    background: #00aba9;
    color:#fff;
    padding-top:47px;
    font-size:24px;
    font-weight:bold;
    text-align:center;
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
#home .well {
    font-size:18px;
    background:#d06a60;
    border-radius:0;
    border:0;
    box-shadow:none;
    color:#fff;
    line-height:32px;
}
.padding-kill {
    padding: 0 !important;
}
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}
.nav {
    margin: 0;
}
.sidebar-nav a {
    font-size:16px;
    color:#606060;
}
.sidebar-nav a.active {
  background: #e0e0e0;
}
.nav > li > a:hover, .nav > li > a:focus {
  background: #e0e0e0;
}
.page-header {
    margin-top:127px;
}

footer {
    border:0 !important;
    background-color: #f5f5f5;
}
footer div {
    text-align:center;
    padding:20px;
}

.content-header {
    margin-top:60px;
    color:#777;
}


/***** code styles *****/
.html-code {color:green;}
.css-code {color:red;}
xmp {margin-top:-10px;}
.main {margin-bottom:80px;}
.main .row {margin-left:10px;}

p.paragraph {
color:#000;
font-size:18px;
line-height:28px;
}

.margin-top {
    margin-top:10px;
}


/***** THE GRID ******/

.show-grid {
    background: #eee;
    border: solid 1px #fff;
    padding:10px;
} 