/* ------ SECTIONS ------
00. GLOBAL MIXINS & VARIABLS 
01. BUTTONS 
02. ALERTS 
*/

/* ------ 00. GLOBAL MIXINS & VARIABLES ------ */

$border-radius-base: 0;   /*removes all standard border radius from bootstrap*/

/* ------ 01. BUTTONS ------ */

@mixin backgroundHover() {
    opacity: 0.9;
}

$white: #ffffff !important;  /* font color for all buttons */
$btnMenu: #f0ad4e;
$btnChat: #88af2d;
$btnHelp: #51616f;
$btnLogout: #1b1f23;
$btnSubmit: #428bca;
$btnSearch: #534d86;
$btnCancel: #eb4f40;
$btnDisabled: #cdd2d5;
$btnEdit: #008287;
$btnRegister: #de7f40;
$btnFilter: #40c0be;
$btnPreview: #50b8a3;
$btnUpload: #f4d34b;
$btnAdd: #a9cf5c;
$btnDelete: #d06a60;
$btnCreate: #677686;
$btnPublish: #62d994;


.global-btn {
    @extend .btn;
    border-radius:0 !important;
    color: $white;
     &:hover {
        color: $white; 
        @include backgroundHover();
    } 
}
.menu-button {
    @extend .global-btn;
    background: $btnMenu;
}
.chat-button {
    @extend .global-btn;
    background: $btnChat;
}
.help-button {
    @extend .global-btn;
    background: $btnHelp;
}
.logout-button {
    @extend .global-btn;
    background: $btnLogout;
}
.submit-button {
    @extend .global-btn;
    background: $btnSubmit;
}
.search-button {
    @extend .global-btn;
    background: $btnSearch;
}
.cancel-button {
    @extend .global-btn;
    background: $btnCancel;
}
.disabled-button {
    @extend .global-btn;
    background: $btnDisabled;
}
.edit-button {
    @extend .global-btn;
    background: $btnEdit;
}
.register-button {
    @extend .global-btn;
    background: $btnRegister;
}
.filter-button {
    @extend .global-btn;
    background: $btnFilter
}
.preview-button {
    @extend .global-btn;
    background: $btnPreview;

}
.upload-button {
    @extend .global-btn;
    background: $btnUpload;
}
.add-button {
    @extend .global-btn;
    background: $btnAdd;
}
.delete-button {
    @extend .global-btn;
    background: $btnDelete;
}
.create-button {
    @extend .global-btn;
    background: $btnCreate;
}
.publish-button {
    @extend .global-btn;
    background: $btnPublish;
}

/* ------ 02. ALERTS ------ */

$warning-alert: #d06a60;
.global-alert {
    @extend .alert;
    color: $white;
    padding:15px;
}

.warning-alert {
    @extend .global-alert;
    background: #d06a60;
}
.success-alert {
    background: #66b266;
    padding:15px;
    color:#fff;
}
.message-alert {
    background: #ec9e59;
    padding:15px;
    color: #fff;
}

/* ------ 03. PAGINATION ------ */



/**************  04. RESPONSIVE TABLE */

/*BOOTSTRAP TABLE BORDER OVERWRITES*/
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
border-bottom: solid 1px #c6c6c6;
border-top: 0;
}

.table > thead > tr > th {
border-bottom: 0 !important;
}

@media screen and (max-width: 991px) {
    .table-striped > tbody > tr:nth-child(odd) > td,
    .table-striped > tbody > tr:nth-child(odd) > th {
        background-color: #f9f9f9;
    }

    table#responsive-table thead {
        display: none;
    }

    table#responsive-table tbody td {
        display: block;
    }

    table#responsive-table tbody tr td:first-child {
        color: #000;
    }

    table#responsive-table tbody td:before {
        content: attr(data-th);
        font-weight: bold;
        display: inline-block;
        width: 6rem;
    }
}

/* ------ 05. TYPOGRAPHY ------ */

$h1: 36px;
$h2: 32px;
$h3: 28px;
$h4: 24px;
$h5: 20px;
$h6: 16px;
$paragraph: 18px;

@mixin typography() {
    color:#1f1f1f;
    line-height:24px;
}

h1 {
    @include typography();
    font-size: $h1;
}
h2 {
    @include typography();
    font-size: $h2;
}
h3 {
    @include typography();
    font-size: $h3;
}
h4 {
    @include typography();
    font-size: $h4;
}
h5 {
    @include typography();
    font-size: $h5;
}
h6 {
    @include typography();
    font-size: $h6;
}

p {
    @include typography();
    font-size: $paragraph;
}



